<label> font
  <input type="number" step="1" [(ngModel)]="fontSize">
</label>
<div class="_1Xd-N7Ut" data-stop="true" style="font-size: 16px; min-height: 16px;"><span data-id="text-1"
    class="m9n5WnoU _1Wa2Tbgf"><span data-id="text-1" class="zcP2FRoh _1Wa2Tbgf" data-char="0">1</span><span
      data-id="text-1" class="zcP2FRoh _1Wa2Tbgf" data-char="1">+</span></span><span data-id="fraction-1"
    class="m9n5WnoU _1Wa2Tbgf"><span data-id="fraction-1" class="_2kTf3XMX _1Wa2Tbgf"><span data-id="text-2"
        data-chain="true" class="J4VlWSEV _1Wa2Tbgf"><span data-id="text-2" class="m9n5WnoU _1Wa2Tbgf"><span
            data-id="text-2" class="zcP2FRoh _1Wa2Tbgf" data-char="0">1</span></span><span data-id="fraction-2"
          class="m9n5WnoU _1Wa2Tbgf"><span data-id="fraction-2" class="_2kTf3XMX _1Wa2Tbgf"><span data-id="text-4"
              data-chain="true" class="J4VlWSEV _1Wa2Tbgf"><span data-id="text-4" class="m9n5WnoU _1Wa2Tbgf"><span
                  data-id="text-4" class="zcP2FRoh _1Wa2Tbgf" data-char="0">3</span></span></span><span data-id="text-5"
              data-chain="true" class="_1hl400tZ _1Wa2Tbgf"><span data-id="text-5" class="m9n5WnoU _1Wa2Tbgf"><span
                  data-id="text-5" class="zcP2FRoh _1Wa2Tbgf" data-char="0">4</span></span></span><span
              class="_1sUCcIgE _1Wa2Tbgf">&nbsp;</span></span></span></span><span data-id="text-3" data-chain="true"
        class="_1hl400tZ _1Wa2Tbgf"><span data-id="text-3" class="m9n5WnoU _1Wa2Tbgf"><span data-id="text-3"
            class="zcP2FRoh _1Wa2Tbgf" data-char="0">2</span></span><span data-id="fraction-3"
          class="m9n5WnoU _1Wa2Tbgf"><span data-id="fraction-3" class="_2kTf3XMX _1Wa2Tbgf"><span data-id="text-6"
              data-chain="true" class="J4VlWSEV _1Wa2Tbgf"><span data-id="text-6" class="m9n5WnoU _1Wa2Tbgf"><span
                  data-id="text-6" class="zcP2FRoh _1Wa2Tbgf" data-char="0">5</span></span></span><span data-id="text-7"
              data-chain="true" class="_1hl400tZ _1Wa2Tbgf"><span data-id="text-7" class="m9n5WnoU _1Wa2Tbgf"><span
                  data-id="text-7" class="zcP2FRoh _1Wa2Tbgf" data-char="0">6</span></span></span><span
              class="_1sUCcIgE _1Wa2Tbgf">&nbsp;</span></span></span></span><span
        class="_1sUCcIgE _1Wa2Tbgf">&nbsp;</span></span></span><span data-id="text-8"
    class="m9n5WnoU _31HGHgDI _1Wa2Tbgf"><span data-id="text-8" class="zcP2FRoh _1Wa2Tbgf" data-char="0">+</span><span
      data-id="text-8" class="zcP2FRoh _1Wa2Tbgf" data-char="1">2</span></span>
  <div class="EgRGzBj3"></div>
</div>


<div class="ccontainer">
  <span class="cinline">1+</span>
  <span class="cfrac">
    <span class="cfraccontainer">
      <span class="cfrac1">33</span>
      <span class="cfrac2">44</span>
    </span>
    <span class="cinline"></span>
  </span>
  <span class="cinline">+2</span>
</div>
<br><br>
<nb-editor></nb-editor>
<br>
<br>
<nb-basic></nb-basic>
